/**
 * Fontend styles.
 */
.bsac-cabins-single-top {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em 0;
}

.bsac-cabins-single-top .bsac-cabins-single-info h3,
.bsac-cabins-single-top .bsac-cabins-single-info h4,
.bsac-cabins-single-top .bsac-cabins-single-info p {
  margin: 0;
}

.bsac-cabins-single-top .bsac-cabins-single-info img {
  float: right;
  max-width: 240px;
  margin: 0 0 0 1em;
}

.bsac-cabins-single-gallery {
  margin-top: 1em;
}

.bsac-cabins-single-gallery ul {
  list-style: none;
  margin: 0 !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.35em 0.35em;
  max-width: 1280px;
}

.bsac-cabins-single-gallery ul li {
  margin: 0 !important;
}

.bsac-cabins-single-gallery ul li a {
  display: block;
}

.bsac-cabins-single-gallery ul li a figure {
  position: relative;
  overflow: hidden;
}

.bsac-cabins-single-gallery ul li a figure img {
  display: block;
  width: 100%;
}

.bsac-cabins-single-gallery ul li a figure figcaption {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 1em;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, rgba(0, 0, 0, 0.475)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.475) 50%, rgba(0, 0, 0, 0.65) 100%);
  color: #fff;
  line-height: 1.3;
}

.bsac-cabins-single-contact {
  margin-top: 1em;
}

.bsac-cabins-archive {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
}

.bsac-cabins-archive * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.bsac-cabins-archive .bsac-cabins-single-info h3,
.bsac-cabins-archive .bsac-cabins-single-info h4,
.bsac-cabins-archive .bsac-cabins-single-info p {
  margin: 0;
}

.bsac-cabins-archive.cabin-has-image .bsac-cabins-single-image,
.bsac-cabins-archive.cabin-has-image .bsac-cabins-archive-image {
  min-width: 320px;
  padding: 0 0 1em 1em;
}
