/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 *
 * @todo Nest this properly.
 */

.acf-fields {

	.fields-three-wide {
		box-sizing: border-box;
		width: 33.33325%;
		width: calc(100% / 3);
		float: left;
		clear: none;
	}
}

.for-sale-meta-description {
	width: 100%;
}

@media screen and (max-width: 782px) {

	.acf-fields {
		.fields-three-wide {
			width: 100%;
			float: none;
		}
	}
}

@media screen and (max-width: 600px) {
	/* Styles */
}