/**
 * Fontend styles.
 */

.bsac-cabins-single-top {
	box-sizing: border-box;
	padding: 1em 0;

	.bsac-cabins-single-info {

		h3,
		h4,
		p {
			margin: 0;
		}

		img {
			float: right;
			max-width: 240px;
			margin: 0 0 0 1em;
		}
	}
}

.bsac-cabins-single-gallery {
	margin-top: 1em;

	ul {
		list-style: none;
		margin: 0 !important;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0.35em 0.35em;
		max-width: 1280px;

		li {
			margin: 0 !important;

			a {
				display: block;

				figure {
					position: relative;
					overflow: hidden;

					img {
						display: block;
						width: 100%;
					}

					figcaption {
						pointer-events: none;
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						height: auto;
						padding: 1em;
						background: -webkit-gradient(
							linear,
							left top, left bottom,
							from(transparent),
							color-stop(50%, rgba(0,0,0,0.475)),
							to(rgba(0,0,0,0.65))
						);
						background: linear-gradient(
							to bottom,
							transparent 0%,
							rgba(0,0,0,0.475) 50%,
							rgba(0,0,0,0.65) 100%
						);
						color: #fff;
						line-height: 1.3;
					}
				}
			}
		}
	}
}

.bsac-cabins-single-contact {
	margin-top: 1em;
}

.bsac-cabins-archive {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 1em 0;

	* {
		box-sizing: border-box;
	}

	.bsac-cabins-single-info {

		h3,
		h4,
		p {
			margin: 0;
		}
	}

	&.cabin-has-image {

		.bsac-cabins-single-image,
		.bsac-cabins-archive-image {
			min-width: 320px;
			padding: 0 0 1em 1em;
		}
	}
}